/* --- Normalize CSS --- */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
  outline: none;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

span {
  display: block;
  font-family: "Roboto", sans-serif;
}

button {
  display: block;
  cursor: pointer;
  background: transparent;
  border: none;
}

button, input, select, option, textarea {
  font-family: "Cormorant Garamond", serif;
}

.container {
  width: 100%;
  max-width: 1215px;
  margin: 0 auto;
}

.header {
  padding-top: 33px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav img {
  vertical-align: middle;
}

.nav__link {
  font-size: 24px;
  line-height: 30px;
  color: #b08ead;
  margin-right: 40px;
  transition: all 0.2s ease;
}
.nav__link:nth-child(4) {
  margin-right: 45px;
}
.nav__link:hover {
  color: #d099cb;
}

.header__burger {
  display: none;
}

.hero {
  display: flex;
  justify-content: flex-end;
  padding: 72px 0 70px;
  background: url("../img/home/background.svg") no-repeat center/cover;
}

.hero__inner {
  display: flex;
  align-items: center;
}

.hero__box {
  width: 425px;
  height: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: -11%;
  background: #b08ead;
}

.hero__content {
  padding-left: 40px;
}

.hero__suptitle {
  margin-bottom: 10px;
}

.suptitle {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
}

.title {
  font-size: 45px;
  line-height: 55px;
  color: #fff;
}

.hero__title {
  max-width: 280px;
  margin-bottom: 30px;
}

.btn-hero {
  position: relative;
}
.btn-hero:after {
  content: "";
  width: 72px;
  display: block;
  transform: scaleX(0);
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
}
.btn-hero:hover:after {
  transform: scaleX(100%);
  border-bottom: 2px solid #fff;
}

.about {
  padding: 75px 0;
}

.about__header {
  width: 100%;
  max-width: 747px;
  margin: 0 auto 10px;
  text-align: center;
}

.about__suptitle {
  color: #b99bb6;
}

.about__text {
  font-size: 26px;
  line-height: 38px;
  color: #5f4d5d;
  margin: 13px 0 17px;
}

.btn {
  display: inline-block;
  border: 1px solid #b99bb6;
  border-radius: 25px;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
  color: #b99bb6;
  transition: all 0.3s ease;
  padding: 16px 29px 14px;
}
.btn:hover {
  color: #fff;
  background: #b99bb6;
}

.about__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 37px;
  margin: 0 auto;
}

.about__item {
  width: 100%;
  max-width: 368px;
  overflow: hidden;
}
.about__item img {
  display: block;
  transition: all 0.4s ease;
  transform: translateY(113px);
}
.about__item:hover img {
  transform: translateY(0px);
}
.about__item:hover .about__content {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}

.about__content {
  padding: 23px;
  background: #ceb3cb;
  position: relative;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.4s ease;
}

.about__info {
  font-size: 25px;
  line-height: 30px;
  color: #fff;
}

.about__link {
  font-size: 17px;
  line-height: 30px;
  color: #fff;
  position: relative;
}
.about__link:after {
  content: "";
  width: 79px;
  display: block;
  transform: scaleX(0);
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
}
.about__link:hover:after {
  transform: scaleX(100%);
  border-bottom: 2px solid #fff;
}

.author {
  padding: 75px 0;
  background: #ceb3cb;
}

.author__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author__box {
  width: 440px;
  height: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: 4%;
  background: #b08ead;
  z-index: 1;
}

.author__content {
  padding-left: 63px;
}

.author__title {
  max-width: 319px;
  margin: 10px 0 30px;
}

.btn-author:after {
  width: 101px;
}

.author__img {
  z-index: 2;
}

.information {
  padding: 75px 0;
}

.information__wrapper:after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background: #d7b7d4;
  margin: 40px 0;
}
.information__wrapper:last-child:after {
  display: none;
}

.information__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.information__inner--reverse {
  flex-direction: row-reverse;
}

.information__content {
  width: 100%;
  max-width: 481px;
}
.information__content .btn {
  margin-top: 20px;
}

.information__text {
  margin-top: 10px;
}

.text {
  font-size: 24px;
  line-height: 30px;
  color: #5f4d5d;
}

.author--colection .author__inner {
  flex-direction: row-reverse;
}
.author--colection .author__box {
  left: -4%;
}
.author--colection .author__title {
  max-width: 280px;
}

.goods {
  padding: 75px 0 125px;
}

.goods__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px 26px;
  padding-bottom: 50px;
}

.goods__item {
  width: 100%;
  max-width: 377px;
}
.goods__item img {
  transition: all 0.2s ease;
}
.goods__item img:hover {
  opacity: 0.9;
}

.goods__content {
  margin-top: 9px;
  text-align: center;
}

.goods__text {
  margin-bottom: 7px;
}

.goods__count {
  font-size: 16px;
  line-height: 17.5px;
  color: #b0b0b0;
}

.talk {
  display: flex;
  justify-content: center;
  padding: 76px 0 73px;
  background: #ceb3cb;
}

.talk__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.talk__contact {
  width: 100%;
  max-width: 219px;
}

.talk__info {
  margin-bottom: 20px;
}
.talk__info:last-child {
  margin-bottom: 0;
}

.talk__link {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}
.talk__link:hover {
  text-decoration: underline;
}

.talk__form {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.talk__text {
  margin-bottom: 21px;
}
.talk__text:hover {
  text-decoration: none;
}

.talk-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.talk-form * {
  background: transparent;
  border: 1px solid #fff;
}

.talk-input {
  width: 254px;
  padding: 10px 16px;
  margin-bottom: 30px;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  color: #fff;
}
.talk-input::placeholder {
  color: #fff;
  background: transparent;
}
.talk-input:focus {
  outline: 0;
  border-color: #e4e4e4;
  background: transparent;
}

.talk-textarea {
  width: 100%;
  height: 83px;
  margin-bottom: 0;
  padding: 9px 15px;
  resize: none;
}

.btn-talk {
  width: 210px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin-top: 25px;
  transition: all 0.2s ease;
}
.btn-talk:hover {
  color: #bb98b7;
  background: #fff;
}

.newsletter {
  padding: 95px 0 107px;
}

.newsletter__inner {
  text-align: center;
}

.newsletter__text {
  margin-bottom: 13px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-input {
  width: 208px;
  background: #fff;
  padding: 14px 15px 16px;
  border: 1px solid #ceb3cb;
  border-radius: 3px 0px 0px 3px;
}
.newsletter-input:nth-child(2) {
  border-radius: 0;
  border-left-width: 0;
}
.newsletter-input:focus {
  outline: 0;
  border-color: #ae88aa;
}

.btn-newsletter {
  width: 179px;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  background: #ceb3cb;
  border-radius: 0px 3px 3px 0px;
  transition: all 0.2s ease;
  padding: 15px 0;
}
.btn-newsletter:hover {
  background: #bea0bb;
}

.footer__top {
  padding: 46px 0 12px;
  background: #d6bbd3;
}

.footer__inner {
  display: flex;
  justify-content: center;
}

.footer__features {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__item img {
  margin-bottom: 3px;
}

.footer__feature {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}

.footer__desc {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}

.footer__bottom {
  padding-top: 40px;
  background: #c9adc6;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 70px;
}

.footer-nav {
  display: flex;
  align-items: center;
  padding-bottom: 19px;
}

.footer-nav__link {
  font-size: 21px;
  line-height: 21px;
  color: #fff;
  margin-right: 35px;
  transition: all 0.2s ease;
  position: relative;
}
.footer-nav__link:nth-child(2) {
  margin-left: 64px;
}
.footer-nav__link:after {
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: all 0.3s ease;
}
.footer-nav__link:hover:after {
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__list {
  display: flex;
  padding-bottom: 5px;
}

.copyright__item {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  color: #fff;
  margin-right: 10px;
}
.copyright__item:last-child {
  margin-right: 0;
}
.copyright__item span {
  display: inline-block;
  position: relative;
}
.copyright__item span:first-child:after {
  content: "";
  width: 1px;
  height: 8.5px;
  display: block;
  background: #fff;
  position: absolute;
  top: 50%;
  right: -3px;
  transform: translateY(-50%);
}
.copyright__item span:last-child {
  padding-left: 3px;
}

.footer__scroll {
  width: 33px;
  height: 30px;
  display: block;
  background: #BA9FB7;
  border-radius: 3px 3px 0px 0px;
  transition: all 0.3s ease;
}
.footer__scroll img {
  transition: all 0.3s ease;
  position: relative;
  top: 6px;
}
.footer__scroll:hover {
  background: #ab91a8;
}
.footer__scroll:hover img {
  top: 3px;
}

/* --- Media --- */
@media screen and (max-width: 1200px) {
  .header__inner {
    padding: 0 10px 24px;
  }

  .about__items {
    gap: 0 20px;
  }

  .goods__items {
    justify-content: center;
    gap: 50px 35px;
  }

  .information__inner img {
    width: 50%;
  }

  .information__content {
    max-width: 455px;
    padding-left: 10px;
  }
  .information__content--reverse {
    padding-left: 0;
    padding-right: 10px;
  }

  .talk__inner {
    padding: 0 50px;
  }

  .footer__features {
    max-width: 830px;
  }
}
@media screen and (max-width: 991px) {
  .hero {
    justify-content: center;
  }

  .hero__inner img {
    width: 80%;
  }

  .hero__box {
    left: -30%;
  }

  .hero__content {
    width: 280px;
    padding-right: 60px;
  }

  .about__items {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .author__box {
    width: 365px;
    height: 400px;
  }

  .author__img {
    width: 50%;
  }

  .information .suptitle {
    margin-top: 10px;
  }

  .information__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .information__inner img {
    width: 60%;
  }

  .information__content {
    padding: 0;
    max-width: 600px;
    text-align: center;
  }

  .goods__item,
.goods__item img {
    max-width: 350px;
  }

  .talk__inner {
    padding: 0 50px;
    flex-direction: column;
    align-items: flex-start;
  }

  .talk__contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 400px;
    margin-bottom: 30px;
  }

  .talk__info {
    max-width: 219px;
  }

  .talk-textarea {
    width: 100% !important;
  }

  .footer__features {
    max-width: 680px;
  }

  .footer__item {
    width: 100%;
    max-width: 190px;
  }

  .footer__img {
    padding-bottom: 19px;
  }

  .footer__bottom {
    padding-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding: 0 25px 24px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
  }
  .header__burger span {
    width: 100%;
    height: 2px;
    background: #c59cb9;
    transition: all 0.3s ease;
    position: absolute;
    top: 9px;
    right: 0;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #c59cb9;
    transition: all 0.3s ease;
    position: absolute;
    right: 0;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:after {
    bottom: 9px;
    transform: rotate(45deg);
  }
  .header__burger.active:before {
    top: 9px;
    transform: rotate(-45deg);
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    background: #f9f9f9;
    transition-duration: 0.25s;
    padding: 100px 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .nav.active {
    visibility: visible;
    left: 0;
  }
  .nav img {
    display: none;
  }

  .nav__link {
    letter-spacing: 1px;
    transition-duration: 0.25s;
    padding: 30px 0;
    margin: 0 !important;
  }
  .nav__link:first-child {
    padding-top: 0;
  }

  .hero {
    justify-content: center;
  }

  .hero__inner img {
    width: 86%;
  }

  .hero__box {
    top: 40px;
    left: -46%;
    width: 330px;
    height: 390px;
  }

  .hero__content {
    padding-left: 15px;
    padding-right: 32px;
  }

  .about__header {
    max-width: 580px;
  }

  .about__text {
    margin: 15px 0 20px;
  }

  .author__box {
    left: 1%;
    width: 315px;
    height: 380px;
  }

  .author__content {
    padding-left: 30px;
  }

  .author__img {
    width: 57%;
  }

  .information__inner img {
    width: 65%;
    margin: 0 auto;
  }

  .information__content {
    max-width: 569px;
  }

  .author--colection .author__img {
    width: 58%;
  }
  .author--colection .author__title {
    font-size: 43px;
  }
  .author--colection .author__box {
    left: -5%;
  }
  .author--colection .author__content {
    padding: 0 70px 0 46px;
  }

  .goods {
    padding-bottom: 70px;
  }

  .talk__contact {
    max-width: 385px;
  }

  .talk-input {
    width: 200px;
  }

  .newsletter {
    padding: 90px 0;
  }

  .newsletter-input {
    width: 175px;
  }

  .footer__top {
    padding-bottom: 20px;
  }

  .footer__bottom {
    padding: 40px 5px 0;
  }

  .footer__features {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 25px;
  }

  .footer__social {
    padding: 0;
  }

  .footer-nav__link {
    margin-right: 21px;
  }
  .footer-nav__link:nth-child(2) {
    margin-left: 30px;
  }

  .footer__img {
    padding-bottom: 16px;
  }

  .copyright__list {
    flex-wrap: wrap;
    padding-bottom: 0;
    max-width: 460px;
  }
}
@media screen and (max-width: 575px) {
  .header__inner {
    padding: 0 15px 24px;
  }

  .hero {
    padding-bottom: 0;
  }

  .hero__inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero__inner img {
    width: 95%;
  }

  .hero__box {
    top: -33%;
    left: 0;
    width: 275px;
    height: 320px;
    margin-left: auto;
  }

  .hero__content {
    max-width: 238px;
    padding: 0 0 0 15px;
  }
  .hero__content .suptitle {
    font-size: 13px;
  }

  .hero__title {
    font-size: 37px;
    max-width: 238px;
  }

  .about__item {
    max-width: 290px;
  }
  .about__item img {
    width: 99%;
  }

  .about__content {
    max-width: 241px;
  }

  .author {
    position: relative;
    padding: 70px 0 160px;
  }

  .author__inner {
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .author__box {
    width: 270px;
    height: 320px;
    position: absolute;
    top: 37%;
    left: 0;
    z-index: 10;
    margin-left: auto;
  }

  .author__content {
    padding-left: 25px;
  }
  .author__content .suptitle {
    font-size: 13px;
  }

  .author__title {
    font-size: 38px;
    max-width: 220px;
  }

  .author__img {
    width: 85%;
    margin-left: auto;
  }

  .information__inner img {
    width: 75%;
  }
  .information__inner .text {
    font-size: 22px;
  }

  .information__content {
    max-width: 395px;
  }

  .author--colection .author__box {
    width: 270px;
    height: 320px;
    position: absolute;
    top: 40%;
    right: 5%;
    z-index: 10;
    margin-left: auto;
  }
  .author--colection .author__content {
    padding: 0 0 0 15px;
  }
  .author--colection .author__title {
    font-size: 38px;
    max-width: 236px;
  }
  .author--colection .author__img {
    width: 85%;
    margin-left: 0;
    margin-right: auto;
  }

  .goods {
    padding-bottom: 50px;
  }

  .goods__item,
.goods__item img {
    max-width: 290px;
  }

  .talk__inner {
    padding-right: 0;
    padding-left: 20px;
  }

  .talk__contact {
    flex-direction: column;
  }

  .talk__text {
    max-width: 440px;
    margin-bottom: 25px;
  }

  .talk__form {
    max-width: 575px;
  }

  .talk-input {
    width: 254px;
  }

  .talk-textarea {
    width: 85% !important;
  }

  .btn-talk {
    width: 190px;
  }

  .newsletter-form {
    align-items: center;
    flex-direction: column;
  }

  .newsletter-input {
    width: 208px;
    margin-bottom: 15px;
  }
  .newsletter-input:nth-child(2) {
    border: 1px solid #ceb3cb;
  }

  .btn-newsletter {
    width: 208px;
  }

  .footer__top {
    padding-bottom: 30px;
  }

  .footer__features {
    max-width: 575px;
    gap: 25px 20px;
  }

  .footer__item img {
    width: 40%;
  }

  .footer__feature {
    font-size: 18px;
  }

  .footer__desc {
    font-size: 13px;
  }

  .footer__bottom {
    position: relative;
  }

  .footer__social {
    flex-direction: column;
  }

  .footer-nav {
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 16px;
  }

  .footer__logo {
    width: 100%;
    max-width: 575px;
    margin-bottom: 19px;
  }

  .footer-nav__link {
    margin-right: 18px;
    padding-bottom: 3px;
  }
  .footer-nav__link:nth-child(2) {
    margin-left: 0;
  }
  .footer-nav__link:last-child {
    margin-right: 0;
  }

  .footer__img {
    position: absolute;
    top: 48px;
    right: 20px;
  }

  .copyright__item:nth-child(1), .copyright__item:nth-child(4), .copyright__item:nth-child(5) {
    display: none;
  }
  .copyright__item:nth-child(3) span:after, .copyright__item:nth-child(3) span:last-child {
    display: none;
  }
}